*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border: solid;
}

.container{
    flex-wrap: wrap;
    max-width: 1080px;
    width: 100%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img{
    width: 15vw;
}

.container form{
    height: 6vh;
    width: 35vw;
}

.container form input{
    padding: 0.5rem;
    width: 13.5vw;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container form button{
    background-color: #3396f3;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 10%;
    text-decoration: none;
    font-weight: bold;
}

.container-main_div{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    border: solid;
}